<!DOCTYPE html>
<html lang="en" ng-app="projectEuler">
<head>
    <meta charset="UTF-8">
    <title>Project Euler</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Codemirror -->
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="bower_components/codemirror/theme/monokai.css">

    <!-- My CSS -->
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div
        ng-controller="ScriptController"
        class="container">
        <div 
            id="body"
            class="row border-bottom no-gutter">
            <div class="col-md-6 full-height bg-monokai border-right">
                <div
                    ui-codemirror
                    ng-model="code"
                    ui-codemirror-opts="editorOptions"
                    class="full-height"></div>
            </div>
            <div
                id="log"
                class="col-md-6 full-height bg-monokai"></div>
        </div>
        <div
            id="commandBar"
            class="row no-gutter bg-monokai">
            <div class="col-md-6 full-height">
                <select
                    ng-model="problemNumber"
                    ng-change="changeProblem()"
                    ng-options="problem as (problem | formatName) for problem in problems"
                    class="v-center margin-10-left">
                </select>
                <button
                    type="button"
                    ng-click="run()"
                    class="btn btn-sm btn-success pull-right v-center margin-10-right">Run</button>
            </div>
        </div>
    </div>

    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- Codemirror -->
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/codemirror/mode/javascript/javascript.js"></script>

    <!-- Angular-ui codemirror --> 
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.min.js"></script>

    <!-- My JS -->
    <script src="main.js"></script>
</body>
</html>

